# --- Домен ---
MOODLE_WWWROOT=http://localhost:8080

# --- Админ Moodle (первичная установка) ---
MOODLE_ADMIN_PASS=ChangeMe_Strong#2026
MOODLE_ADMIN_EMAIL=admin@example.kz

# --- PostgreSQL ---
MOODLE_DB_HOST=db
MOODLE_DB_PORT=5432
MOODLE_DB_NAME=moodle
MOODLE_DB_USER=moodle
MOODLE_DB_PASS=ChangeMe_DB#2026

# --- Redis (кэш + сессии) ---
MOODLE_REDIS_HOST=cache
MOODLE_REDIS_PORT=6379

# --- Версия Moodle (ветка git) ---
MOODLE_BRANCH=MOODLE_405_STABLE
